{
  "extends": "stylelint-config-standard",

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}],
    "at-rule-empty-line-before": [
        "always",
        {
          "except": [
            "blockless-after-blockless"
          ]
        }
      ],
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }],
    "property-no-unknown": [true, {
      "ignoreProperties": ["composes"]
    }],
    "value-keyword-case": ["lower", {
      "ignoreProperties": ["composes"]
    }]
  }
}
