.bannerContainer {
  composes: bannerContainer from global;
}

.bannerHeading {
  composes: heading from global;
  margin-top: 0;
  margin-bottom: calc(var(--offset-base-size) * 2);
}

.bannerSubheading {
  composes: headline from global;
  margin-bottom: 0;
}

/* Tab Links classes are imported from global CSS */

.tabLinkContainer {
  composes: tabLinkContainer from global;
}

.tabLink {
  composes: tabLink from global;
}

.tabLinkActive {
  composes: tabLinkActive from global;
}
