.tagsSidebar {
  padding: calc(var(--offset-base-size) * 4);
  border-radius: var(--common-border-radius-s);
  background: var(--colors-interface-accent);
}

.tagsSidebar p {
  color: var(--background);
}

.tagsList {
  composes: tagsList from global;
}

.tagItem {
  composes: tagItem from global;
}
